---

import { Image } from '@astrojs/image/components';
import Layout from '../layouts/Layout.astro';
import heroImage from '../images/hero_garden_light_bush.jpg';

---

<Layout title="Conny Apartman">
	<main>
		<h1>Welcome to <span class="text-gradient">Conny's Apartman</span></h1>
		<div class="image-wrapper">
			<Image src={heroImage} aspectRatio="16:9"  alt="descriptive text" />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 700;
		margin: 0;
	}
	img {
		max-width: 100%;
		height: auto;
		border-radius: 15px;
		margin: 1rem 0 0;
		box-shadow:  0 0 10px  rgba(0,0,0,0.6);
		-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
		-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
		-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	@media only screen and (max-width: 600px) {
		main {
			padding: unset;
			max-width: unset;
		}
		h1 {
				font-size: 1.5rem;
		font-weight: 600;
		}
	}
</style>
