---

import { Image } from '@astrojs/image/components';
import Layout from '../layouts/Layout.astro';
import heroImage from '../images/welcome.jpg';
import '@fontsource/mr-bedfort';
import '@fontsource/redressed';
---

<Layout title="Conny Apartman">
	<main>
		<div>
			<div class="content-wrapper">
				<div class="welcome-wrapper">
					<div class="circle orange"></div>
					<div class="circle blue"></div>
					<h1>Welcome</h1>
				</div>					
			</div>
			<p>
				Welcome to Conny and Andras Home! 
				Conny and Andras, avid travelers and passionate hosts, 
				have created a haven that reflects their love for hospitality.
			    Having explored numerous corners of the world, they understand the importance of finding a home away from home
			</p>
		</div>
		
		<div class="image-wrapper">
			<Image src={heroImage} aspectRatio="16:9"  alt="View of the entrance to the property, warmly welcoming sculpture" />
		</div>
	</main>
</Layout>

<style>
	main {
		gap: 10%;
		display: flex;
		margin: auto;
		max-width: 80%;
		align-items: center;
	}
	.welcome-wrapper {
		position: relative;
	}
	.circle {
		position: absolute;
		border-radius: 50%;
	}
	.orange {
		left: -2rem;
		top: -.5rem;
		width: 7rem;
		height: 7rem;
		background-color: #ff9a00;
	}
	.blue {
		left: -4rem;
		top: 3.5rem;
		width: 4rem;
		height: 4rem;
		background-color: #5b886cb3;
	}
	p {
		margin: 0;
		font-size: 1.5rem;
		font-family: 'Redressed', sans-serif;
	}
	
	h1 {
		position: relative;
		font-family: 'Mr Bedfort', sans-serif;
		font-size: 5.5rem;
		font-weight: 700;
		margin: 0;
	}
	img {
		max-width: 100%;
		height: auto;
		border-radius: 15px;
		margin: 1rem 0 0;
		box-shadow:  0 0 10px  rgba(0,0,0,0.6);
		-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
		-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
		-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	}
	.image-wrapper {
		min-width: 300px;
	}
	
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	@media only screen and (max-width: 600px) {
		main {
			padding: unset;
			max-width: unset;
		}
		h1 {
				/* font-size: 1.5rem; */
		font-weight: 600;
		}
	}
	@media only screen and (max-width: 768px) {
		main {
			flex-wrap: wrap-reverse;
			max-width: unset;
		}
		main p {
			margin: 0 .7rem 2rem;
		}
		.content-wrapper {
			display: flex;
			justify-content: center;
			margin-top: 2rem;
		}
	}
</style>
