---
import Button from "./Button.astro";

export interface Props {
	linkToApartman: string;
}

const { linkToApartman } = Astro.props;

---



<nav>
    <div class="nav-bar">
        <a class="logo" href="/">🌤️Conny's</a>      
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div class="right">
            <a href="/double-bad-apartman">Double Bed Apartman</a>
            <a href="/five-bad-apartman">Five Bads Apartman</a>
            <!-- <button class="book-now-button"><a href={linkToApartman}>Book Now</a></button> -->
            <Button linkToApartman={linkToApartman}/>
        </div>        
    </div>  
    <script>
    document.querySelector('.hamburger').addEventListener('click', () => {
      document.querySelector('.right').classList.toggle('opened');
    //   document.querySelector('body').classList.toggle('hidden')
    });
  </script>   
</nav>
<style>
    body.hidden {
        overflow: hidden;
    }
    nav {
        padding: .7rem 1rem;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .right {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    a.logo {
        font-family: 'Mr Bedfort', sans-serif;
        font-size: 1.4rem;
        letter-spacing: unset;
        white-space: nowrap;
        letter-spacing: .1rem;
    }
    a {
        all: unset;
        font-family: 'Redressed', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;   
        letter-spacing: .2rem;   
        cursor: pointer;  
    }
    nav {
        background-color: #F6F6F6;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9;
    }
    /* .book-now-button {
        background-color: #779582;
        color: #ffffff;
        font-size: 1rem;
        padding: .5rem 1rem;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        text-transform: uppercase;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .book-now-button:hover {
        background-color: #89a895;
        transform: translateY(-2px);
    } */
    .hamburger {
        transform: scale(.7);
        display: none;
        cursor: pointer;
    }

    .hamburger .line {
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background-color: #000000;
    }
    @media only screen and (max-width: 950px) {
        .hamburger {
            display: block;
        }
        .right {
            display: none;
        }
        .right.opened {
            display: flex;
            position: absolute;
            top: 68px;
            min-height: 100vh;
            flex-direction: column;
            background: #f6f6f6;
            left: 0;
            right: 0;
            padding: 2rem 0;
        }
	}


</style>