---
import { SEO } from "astro-seo";
import i18next, { t } from "i18next";
export interface Props {
	title: string;
}

const { title } = Astro.props;


---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon_sun.jpg" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={t('site.title')}
			description="@TODO A heavily optimized description full of well-researched keywords."			
		/>
	</head>
	<body>
		<!-- @TODO NAV  -->
		<slot />
		<!-- @TODO FOOTER -->
	</body>
</html>
<style is:global>
/*  @TODO  */
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
