---
import { SEO } from "astro-seo";
import i18next, { t } from "i18next";
export interface Props {
	title: string;
}

const { title } = Astro.props;


---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon_sun.jpg" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={t('site.title')}
			description={`Experience the ultimate getaway in Tiszavasvár with Connys Apartman Tiszavasvár. 
			Our meticulously designed and fully equipped apartments offer the perfect accommodation in the 
			heart of the Tiszavasvári settlement. Whether you're seeking a short-term retreat or a longer stay, our 
			friendly and tastefully furnished apartments cater to your every need.Family-friendly and equipped with essential 
			amenities, our apartments provide a seamless experience for both adults and children. Enjoy the convenience of a
			table high chair, cot, baby feeding set, baby toys, portable cot, bathtub, baby food heating option, 
			and children's bed linen, ensuring a comfortable and stress-free stay for your little ones.Rest easy 
			knowing that our premises offer a secure and camera-monitored parking lot, allowing you to park your vehicle free of charge. 
			Immerse yourself in the soothing ambiance of our private balcony or terrace, 
			where you can unwind and bask in the pleasant weather at any time.
			Indulge in the comfort of our air-conditioned apartments, providing respite from the summer heat. 
			Stay connected with complimentary high-speed wireless internet access (WiFi) throughout your stay, 
			allowing you to work, stream, and browse with ease. Each apartment boasts a private bathroom, guaranteeing privacy 
			and convenience during your visit. We've left no stone unturned to ensure your utmost satisfaction and relaxation.
			Discover the beauty of Tiszavasvár while enjoying the comforts of Connys Apartman Tiszavasvár. Book your stay today and immerse 
			yourself in the perfect blend of comfort, convenience, and warm hospitality.`}		
		/>
	</head>
	<body>
		<!-- @TODO NAV  -->
		<slot />
		<!-- @TODO FOOTER -->
	</body>
</html>
<style is:global>
/*  @TODO  */
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
